<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Teste ionic
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content">

  <ion-card class="card" style="margin-top:var(--my-var);">
    <ion-item class="input">
      <ion-label position="floating">Usuário</ion-label>
      <ion-input [(ngModel)]=usuario.login mask='0000000'></ion-input>
    </ion-item>

    <ion-item class="input">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type='password' [(ngModel)]=usuario.senha mask='00000000000'></ion-input>
    </ion-item>

    <ion-button expand="block" fill="outline" (click)=onLogin()>login</ion-button>

  </ion-card>



</ion-content>