.card {
  background: black;
  padding: 1.5em;
  height: 240px;
}

.input {
  color: turquoise;
}

.button {
  margin-top: 20px;
  margin-left: 7%;
  width: 90%;
}

ion-content {
  --ion-background-color: black;
}



